
<div class="row">
  <div class="col-sm-3">
    <div class="container">
      <div id="googleMap" style="width:500px;height:380px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.4244034882067!2d72.86075794994585!3d19.04506905783105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8d1dc2d4e93%3A0xaac7b2a8db110f47!2sWohlig+Technology!5e0!3m2!1sen!2sin!4v1473140405937" width="600" height="450" frameborder="0" style="border:3" allowfullscreen></iframe>
      </div>

    </div>

  </div>
  <div class="col-sm-9">

<div class="container">
  <div class="row" >
<div class="col-md-3"></div>
<div class="col-md-6">
  <center>
    Contact Us
  </center>
  </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group" style="
    padding: 10px;
">
        <span class="input-group-addon" id="sizing-addon2">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group" style="
    padding: 10px;
">

        <span class="input-group-addon" id="sizing-addon2">@</span>
        <input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2">
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group" style="
    padding: 10px;
">
        <span class="input-group-addon" id="sizing-addon2">@</span>
        <input type="text" class="form-control" placeholder="Mobile" aria-describedby="sizing-addon2">
      </div>
    </div>
    <div class="col-md-3"></div>




  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
      <div class="input-group" style="padding: 10px; margin: auto; display:inline-flex;">

   Uplode Here: <input type="file" id="myFile">
</div>
</div>
<div class="col-md-3"></div>
</div>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group" style="
    padding: 10px;
    margin: auto;
">
   <input type="button" class="btn btn-info" value="Submit">


</div>
</div>

</div>
</div>
